{% form_theme form with ['@SyliusUi/Form/theme.html.twig', _self] %}

<div class="ui segment">
    {{ form_errors(form) }}

    <div class="ui two column stackable grid">
        <div class="column">
            {{ form_rest(form) }}
        </div>

        {% if form.vars.data.items | length %}
            <div class="column">
                <table class="table ui compact">
                    <thead>
                        <tr>
                            <th>{{ 'webburza_wishlist.ui.wishlist_items' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in form.vars.data.items %}
                            <tr>
                                <td>
                                    <a href="{{ path('sylius_admin_product_variant_update', {
                                        id: item.productVariant.id,
                                        productId: item.productVariant.product.id
                                    }) }}">
                                        {{ item.productVariant.product.name }}
                                    </a>

                                    {% if item.productVariant.optionValues %}
                                        <br>
                                        <small>
                                            {{ item.productVariant.optionValues | join(', ') }}
                                        </small>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
