{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="ui segment">
    <table class="ui very basic celled table">
        <thead>
        <tr>
            <th>{{ 'sylius.ui.item'|trans }}</th>
            <th>{{ 'sylius.ui.price'|trans }}</th>

            <th colspan="{{ (app.user and app.user == wishlist.user) ? 2 : 1 }}">
                {{ 'sylius.ui.actions' | trans }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in wishlist.items %}
            <tr>
                <td class="single line">
                    {% include '@WebburzaSyliusWishlist/Frontend/Wishlist/_info.html.twig' with {'variant': item.productVariant} %}
                </td>
                <td class="right aligned two wide">
                    {{ money.calculatePrice(item.productVariant) }}
                </td>

                {% if app.user and app.user == wishlist.user %}
                    <td class="center aligned one wide">
                        <form action="{{ path('webburza_frontend_wishlist_remove_item', {'id': item.id}) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button class="ui icon button">
                                {{ 'webburza_wishlist.ui.remove_from_wishlist' | trans }}
                            </button>
                        </form>
                    </td>
                {% endif %}

                <td class="center aligned three wide">
                    {% if not sylius_inventory_is_available(item.productVariant) %}
                        <div class="ui small negative icon message">
                            <i class="remove icon"></i>
                            <div class="content">{{ 'sylius.ui.out_of_stock'|trans }}</div>
                        </div>
                    {% else %}
                        {{ render(url('webburza_frontend_wishlist_partial_cart_add_item', {'variantId': item.productVariant.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
