{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'WebburzaSyliusWishlistBundle:Backend/Wishlist/Macros:macros.html.twig' import list %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.ui.content'|trans }}</li>
        <li>{{ 'webburza.sylius.wishlist.breadcrumb.index'|trans }}</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.create(path('webburza_wishlist_create'), 'webburza.sylius.wishlist.create'|trans) }}
        </div>
        <h1>
            <i class="glyphicon glyphicon-file"></i> {{ 'webburza.sylius.wishlist.index_header'|trans|raw }}
        </h1>
    </div>

    {{ pagination(wishlists) }}
    {{ list(wishlists) }}
    {{ pagination(wishlists) }}

{% endblock %}
