{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.ui.content'|trans }}</li>
        <li><a href="{{ path('webburza_wishlist_index') }}">{{ 'webburza.sylius.wishlist.breadcrumb.index'|trans }}</a></li>
        <li>{{ wishlist.title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.generic(path('webburza_wishlist_frontend_show', {'slug': wishlist.slug}), 'webburza.sylius.wishlist.open' | trans, 'share') }}

            {{ buttons.edit(path('webburza_wishlist_update', {'id': wishlist.id})) }}
            {{ buttons.delete(path('webburza_wishlist_delete', {'id': wishlist.id}), null, false, true) }}
        </div>
        <h1>
            <i class="glyphicon glyphicon-info-sign"></i> {{ 'webburza.sylius.wishlist.show_header' | trans }}
        </h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="2">{{ 'webburza.sylius.wishlist.general_info'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>{{ 'webburza.sylius.wishlist.label.id'|trans }}</strong></td>
                    <td>{{ wishlist.id }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'webburza.sylius.wishlist.label.title'|trans }}</strong></td>
                    <td>{{ wishlist.title }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'webburza.sylius.wishlist.label.customer'|trans }}</strong></td>
                    <td>
                        {% if wishlist.customer %}
                            <a href="{{ path('sylius_backend_customer_show', {id: wishlist.customer.id}) }}">{{ wishlist.customer.email }}</a>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'webburza.sylius.wishlist.label.public'|trans }}</strong></td>
                    <td>
                        {% if wishlist.public %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'webburza.sylius.wishlist.label.created_at' | trans }}</strong></td>
                    <td>{{ wishlist.createdAt | date }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'webburza.sylius.wishlist.label.updated_at' | trans }}</strong></td>
                    <td>
                        {% if (wishlist.updatedAt) %}
                            {{ wishlist.updatedAt | date }}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            {% if wishlist.items is not empty %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th colspan="2">{{ 'webburza.sylius.wishlist.wishlist_items' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in wishlist.items %}
                        <tr>
                            <td>
                                <a href="{{ path('sylius_backend_product_show', {id: item.productVariant.product.id}) }}">
                                    {{ item.productVariant.product.name }}
                                </a>
                                <br>
                                <small>
                                    {% if item.productVariant.presentation is not empty %}
                                        {{ item.productVariant.presentation }}
                                    {% elseif item.productVariant.options is not empty %}
                                        {% for option in item.productVariant.options %}
                                            {{ option.value }}{{ not loop.last ? ', ' : '' }}
                                        {% endfor %}
                                    {% endif %}
                                </small>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{ alerts.info('webburza.sylius.wishlist.backend.no_wishlist_items'|trans) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
